* {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f7f9fb;
    color: #243447;
    min-height: 100vh;
}

header {
    font-family: "Electrolize", sans-serif;
    background-color: #1f2933cd;
    color: #ffffff;
    text-align: center;
    padding: 32px 16px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
}

header h1 {
    font-size: 32px;
    font-weight: 600;
}

main {
    padding: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 80vh;
}

.box {
    display: flex;
    gap: 20px;
    border: 1px solid rgba(51, 49, 49, 0.73);
    border-radius: 16px;
    padding: 120px 30px;
}

button {
    width: 200px;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 500;
    color: #243447;
    background-color: #ffffff;
    /* border: 1px solid #d9dee3; */
    border: 1px solid rgba(122, 117, 117, 0.384);
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s ease;
}

button:hover {
    background-color: #1f2933cd;
    color: #ffffff;
    box-shadow: 0 6px 16px rgba(36, 52, 71, 0.18);
    transform: translateY(-2px);

}

@media only screen and (max-width:1200px) {
    button {
        width: 150px;
    }
}


@media only screen and (max-width:800px) {
    .box {
        flex-direction: column;
        padding: 50px 30px;
    }
}

@media only screen and (max-width:500px){
    header h1{
        font-size: 14px;
    }
    button{
        font-size: 10px;
    }
}