* {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f7f9fb;
    color: #243447;
    min-height: 100vh;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #1f2933cd;
    color: #ffffff;
    text-align: center;
    padding: 32px 16px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
}

header h1 {
    font-size: 32px;
    font-weight: 600;
}

main {
    padding: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 80vh;
}

.box {
    display: flex;
    flex-direction: column;
    gap: 20px;
    border: 1px solid rgba(51, 49, 49, 0.73);
    border-radius: 16px;
    padding: 120px 130px;
    margin-top: 55px;
}

.chapter {
    display: flex;
    gap: 20px;
    justify-content: center;
}

button {
    width: 200px;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 500;
    color: #ffffffd5;
    background-color: transparent;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    transition: 0.3s ease;
}

a {
    text-decoration: none;
    color: #ffffff;
}

.box button {
    width: 200px;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 500;
    color: #243447;
    background-color: #ffffff;
    border: 1px solid rgba(122, 117, 117, 0.384);
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s ease;
}


button:hover {
    background-color: #1f2933cd;
    color: #ffffff;
    box-shadow: 0 6px 16px rgba(36, 52, 71, 0.18);
    transform: translateY(-2px);

}

.box1 {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    border-radius: 16px;

}

.back a{
    color: #243447;
    font-size: 24px;
    font-weight: bold;

}
.back{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    transition: 0.3s ease;
}

.back a:hover{
    text-decoration: underline;
    color: #243447c8;
}

.h2{
    margin-bottom: 30px;
    opacity: 0.9;
}

@media only screen and (max-width:1314px){
    header{
        flex-direction: column;
    }
}

@media only screen and (max-width:1200px) {
    button {
        width: 150px;
    }
}


@media only screen and (max-width:842px) {
    .box {
        flex-direction: column;
        padding: 50px 20px;
    }
    .box button{
        width: 70px;
        font-size: 8px;
    }
    button{
        width: 46px;
        font-size: 8px;
    }
    header{
        padding: 32px 8px;
    }
    .box1{
        gap: 12px;
    }
    header h1{
        font-size: 12px;
    }
    .chapter{
        gap: 12px;
    }
    .back a{
        font-size: 12px;
    }
    .main{
        padding: 32px 16px;
    }
}